@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --background-color: #1A1D24;
    --light-green: #96C545;
    --navbar-color: #252733;
    --dark-yellow: #D8AA33;
    --dark-green: #597239;
    --avocado-color: #92C58A;
    --dark-blue: #5179DE;

    --code-green: #92C58A;
    --code-blue: #5179DE;
    --code-yellow: #D8AA33;
    --code-pink: #DF62E1;

    /* FONTS */
    --global-font: 'Actor', sans-serif;

    /* SIZES */
    --header-height: 200px;

    /* BREAKPOINTS */
    --min--tablet-breakpoint: 768px;
    --min--bigger-tablet-breakpoint: 1024px;
    --min--laptop-breakpoint: 1600px;
    --min--desktop-breakpoint: 1600px;
}

html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: var(--background-color);
    color: white;
    font-family: var(--global-font);
}

header {
    width: 100%;
    height: var(--header-height);
    padding: 20px;
    display: flex;
    align-items: center;
}

#logo {
    height: 8rem;
}

#project-name {
    display: block;
    font-size: 4rem;
}

#project-name:first-letter {
    color: var(--light-green);
}

main {
    height: calc(100% - var(--header-height));
    width: 100%;
}

#project-description {
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

nav {
    position: fixed;
    top: 0;
    width: 550px;
    background: var(--navbar-color);
    height: 100%;
    font-size: 58px;
    padding: 10px;
    z-index: 1000;
    transition: right 200ms;
}

.overflow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: opacity 200ms;
}

.nav--hide {
    right: -550px;
}

.nav--show {
    right: 0;
}

.overflow--hidden {
    opacity: 0;
    display: none;
}

.overflow--show {
    opacity: 1;
}

a {
    width: 100%;
    color: white;
    text-decoration: none;
    float: left;
}

a:hover {
    color: #92C58A;
}

.toggle-nav {
    font-size: 80px;

    position: absolute;
    top: 50%;
    left: -22%;

    transform: rotate(90deg) translate(-50%, -50%);
}

.path {
    font-size: 2rem;
    margin: 10px 0 0 10px;
}

.article {
    padding: 40px;
    font-size: 3rem;
}

.code-snippet {
    background: rgba(0, 0, 0, .23);
    padding: 20px;
    border-radius: 10px;
}

/* TABLET */
@media screen and (min-width: 1024px) {
    #logo {
        height: 5rem;
    }

    #project-name {
        font-size: 4rem;
    }

    #project-description {
        font-size: 2rem;
    }

    nav {
        font-size: 2rem;
    }

    .path {
        margin-left: 50px;
    }
}

/* BIGGER TABLET */

/* LAPTOP */

/* DESKTOP */