@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

@font-face {
    font-family: 'Google Sans';
    src: url("fonts/ProductSans-Light.ttf");
}

* {
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --background-color: #1A1D24;
    --light-green: #96C545;
    --navbar-color: #252733;
    --dark-yellow: #D8AA33;
    --dark-green: #597239;
    --avocado-color: #92C58A;
    --dark-blue: #5179DE;

    --code-green: #92C58A;
    --code-blue: #5179DE;
    --code-yellow: #D8AA33;
    --code-pink: #DF62E1;
    --code-red: #ff6158;

    --table-header-bg-600: #202832;
    --table-row-bg-200: #2c3844;
    --table-row-bg-400: #242e38;

    /* FONTS */
    --header-font: 'Actor', sans-serif;
    --global-font: 'Google Sans', sans-serif;

    /* SIZES */
    --header-height: 120px;
}

html, body, #root {
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: var(--background-color);
    color: white;
    font-family: var(--global-font);
}

header {
    width: 100%;
    height: var(--header-height);
    padding: 20px;
    display: flex;
    align-items: center;
}

#logo {
    height: 4rem;
}

#project-name {
    display: block;
    font-size: 2em;
}

#project-name:first-letter {
    color: var(--light-green);
}

main {
    height: calc(100% - var(--header-height));
    width: 100%;
}

#project-description {
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

nav {
    position: fixed;
    top: 0;
    width: 250px;
    background: var(--navbar-color);
    height: 100%;
    font-size: 1.5rem;
    padding: 10px;
    z-index: 1000;
    transition: right 200ms;
}

.overflow {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: opacity 200ms;
}

.nav--hide {
    right: -250px;
}

.nav--show {
    right: 0;
}

.overflow--hidden {
    opacity: 0;
    display: none;
}

.overflow--show {
    opacity: 1;
}

a {
    width: 100%;
    color: white;
    text-decoration: none;
    float: left;
}

a:hover {
    color: #92C58A;
}

.toggle-nav {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: -5rem;
    transform: rotate(90deg) translate(-50%, -50%);
}

.path {
    font-size: 1.5rem;
    margin: 0 0 0 10px;
}

p {
    padding: 0;
    margin: 0;
}

/* ARTICLES */
.article {
    height: fit-content;
    padding: 40px calc(1rem + 3vw);
    letter-spacing: .5px;
    line-height: 45px;
}

.code-snippet {
    background: rgba(0, 0, 0, .23);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 30px;
    display: block;
    width: fit-content;
    font-size: min(max(1rem, calc(.5rem + 1vw)), 20px);
}

.article-h1 {
    font-size: calc(2.5rem + 3vw);
}

.article-h2 {
    font-size: calc(2rem + 1vw);
}

.article-h3 {
    font-size: calc(2rem + .5vw);
    margin: 10px 0 10px;
}

.article-h4 {
    font-size: clamp(1.5rem, 0.96rem + 0.18vw, 1.125rem);
    margin: 10px 20px 10px;
}

.green {
    color: var(--dark-green);
}

.blue {
    color: var(--dark-blue);
}

.yellow {
    color: var(--code-yellow);
}

.dark-yellow {
    color: var(--dark-yellow);
}

.light-green {
    color: var(--light-green);
}

.red {
    color: var(--code-red);
}

::-webkit-scrollbar {
    background-color: inherit;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #92C58A;
}

.link {
    float: none;
    text-decoration: underline;
}

.hash--pin {
    float: none;
}

.table {
    font-size: clamp(1.5rem, .80em + 0.5vw, 2.125rem);
}

.table__header {
    background: var(--table-header-bg-600);
}

.table__row {
    background: var(--table-row-bg-200);
}

.table__row:nth-child(odd) {
    background: var(--table-row-bg-400);
}

.table__column {
    width: fit-content;
    padding: 2px 20px;
}

/* TABLET */
@media screen and (min-width: 620px) {
    #logo {
        height: 4rem;
    }

    #project-name {
        font-size: 2em;
    }

    #project-description {
        font-size: 1.5rem;
    }

    nav {
        font-size: 2rem;
        width: 400px;
    }

    .nav--hide {
        right: -400px;
    }

    .nav--show {
        right: 0;
    }

    .path {
        margin: 0 50px 0;
    }
}

